.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h2 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-title h3 {
    position: absolute;
    bottom: -5px;
    right: 0;
    z-index: 1;
}

.contact-title h3 span {
    color: blue;
    font-size: 40px;
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-section p {
    max-width: 550px;
    color: #D8D8D8;
    margin: 15px 0px;
}

.contact-details {
    margin: 30px;
}

.contact-details a {
    margin: 4px;
}

.contact-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact-right label {
    color: #D8D8D8;
    margin-top: 10px;
}

.contact-right input {
    width: 90%;
    border: none;
    height: 40px;
    padding-left: 20px;
    border-radius: 4px;
    background: #3c3232;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 15px;
}

.contact-right textarea {
    width: 400px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #3c3232;
    color: #A0A0A0;
    font-size: 15px;
}

.contact-submit {
    border-radius: 50px;
    background: linear-gradient(270deg, #ff0101 10%, #4400ff 100%);
    font-size: 22px;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .contact {
        margin: 80px 50px;
    }

    .contact-title h2 {
        font-size: 60px;
    }

    .contact-title h3 {
        font-size: 30px;
    }

    .contact-section {
        flex-direction: column;
        gap: 50px;
    }

    .contact-right {
        width: 100%;
    }

    .contact-right textarea {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .contact {
        margin: 60px 20px;
    }

    .contact-title h2 {
        font-size: 50px;
    }

    .contact-title h3 {
        font-size: 25px;
    }

    .contact-section p {
        font-size: 16px;
    }

    .contact-right input {
        width: 75%;
    }

    .contact-right textarea {
        width: 75%;
    }

    .contact-submit {
        font-size: 18px;
        padding: 8px 20px;
    }
}

@media (max-width: 480px) {
    .contact-details a img{
        width: 40px;
    }
    .contact {
        margin: 40px 10px;
        gap: 40px;
    }

    .contact-title h2 {
        font-size: 40px;
    }

    .contact-title h3 {
        font-size: 20px;
    }

    .contact-section p {
        font-size: 14px;
    }

    .contact-right input {
        font-size: 14px;
        width: 75%;
    }

    .contact-right textarea {
        font-size: 14px;
        width: 75%;
    }

    .contact-submit {
        font-size: 16px;
        padding: 6px 15px;
    }
}